main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.playing-field {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 500px;
	height: 500px;
	border: 0.5px solid #000;
}

.field {
	border-radius: 0;
	border-width: 0.5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 90%;
	padding: 0;
}

.field:focus {
	background-image: url('assets/o.svg');
}
