body {
	background: #e6e4be;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.playing-field {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 500px;
	height: 500px;
	border: 0.5px solid #000;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
	height: 27px;
}

.field {
	border-radius: 0;
	border-width: 0.5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 0;
	background-color: #fff;
}

.field.active-o {
	background-image: url('assets/o.svg');
}

.field.active-x {
	background-image: url('assets/x.svg');
}

.score {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#replayBtn {
	display: none;
	background-color: #fff;
	font-size: 40px;
	padding: 16px;
}

@media (max-width: 550px) {
	main {
		gap: 20px;
		padding: 0 2%;
	}

	.playing-field {
		width: 100%;
		height: auto;
	}

	.field {
		aspect-ratio: 1 / 1;
		background-size: 100% 100%;
	}

	#replayBtn {
		width: 100%;
	}
}